
@import "~bemuse/ui/common";

.OptionsInputPads {
  height: 160px;
  position: relative;
  $spacing: 12px;
  width: 420px;
  &のpads {
    position: absolute;
    top: 0; right: -$spacing; bottom: -$spacing; left: 0;
  }
  .OptionsInputKey {
    position: absolute;
    box-sizing: border-box;
    height: 50%;
    padding-bottom: $spacing;
    padding-right: $spacing;
    width: (100% / 12);
    top: 0%;
    &[data-n="LC"] { left: (100% / 12) * 0;  }
    &[data-n="HC"] { left: (100% / 12) * 1; }
    &[data-n="HO"] { left: (100% / 12) * 2; }
    &[data-n="LP"] { left: (100% / 12) * 3; }
    &[data-n="LD"] { left: (100% / 12) * 4; }
    &[data-n="SD"] { left: (100% / 12) * 5; }
    &[data-n="BD"] { left: (100% / 12) * 6; }
    &[data-n="LT"] { left: (100% / 12) * 7; }
    &[data-n="HT"] { left: (100% / 12) * 8; }
    &[data-n="FT"] { left: (100% / 12) * 9; }
    &[data-n="RD"] { left: (100% / 12) * 10; }
    &[data-n="RC"] { left: (100% / 12) * 11; }
  }
}
